body{
    font-family: 'Times New Roman', Times, serif;
    background-color: cornsilk;
    /* border:  1px solid black; */
    
}
h1{
    color: rgb(231, 179, 179);
    text-align: center;
}
ul{
    list-style-type: none;
  
}

.task{
    color: white;
   background-color: black;
   font-size: 1rem;
   border-radius: 10%;
   padding: 3px;
}

button{
    color:white;
    background-color:black;
    margin-left: 20px;
    padding: 3px;
    margin-top: 10px;
    border-radius: 10%;

}
li{
    color: cadetblue;
    font-size: 1.4rem;

}
.list{
    display: flex;
    justify-content: center;
    
}
input::placeholder{
    color:black ;
    font-size: 15px;
   
}
.cantaner{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
input{
 height: 20px;
 width: 200px;
}
